/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Estilos para el encabezado y pie de página */
header, footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

/* Estilos para la navegación */
nav ul {
    display: flex;             /* Esto activa el modo flexible */
    justify-content: center;   /* Centra los elementos horizontalmente */
    list-style: none;          /* Esto quita los puntos que da por default cuando escribes una lista (li) */
    padding: 0;                /* Con esto se quita el espacio extra de la izquierda */
    margin: 0;                 /* Quita márgenes por defecto */
    background-color: #38442c; /* Color verde oscuro de la imagen */
}

nav li {
    margin: 0 15px;            /* Para poner espacio lateral entre cada botón del navegador li */
}

nav li a {
    text-decoration: none;     /* Para quitar el subrayado */
    color: white;              /* Color del texto */
    display: block;
    padding: 10px 0;           /* Espacio arriba y abajo de los textos */
}

nav li a:hover {
    background-color: #333;
}

/* Estilos para el área de contenido principal */
main {
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.lista-autores {
    list-style-type: none;
    padding: 0;            
    margin: 5px 0;     
}

.lista-autores li {
    padding: 1px 0;        /* Espaciado entre nombres de la lista de autores */
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 2px;
}

footer {
    padding: 20px 0;          
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;         
}

footer p, 
footer ul,
footer .lista-autores {
    margin: 5px 0;            
}

.imageninicio {
    width: 45%;
    height: auto;
}

.lista-correos {
    list-style-type: none;
    padding: 0;
    margin-top: -13px;
}

.lista-correos li {
    padding: 2px 0;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Espacio de vacío */
.vacio {
    height: 15vh; /* Ocupa el 60% de la altura de la ventana del navegador */
    width: 100%;
}

/* Parte que parezca un documento aparte */
.archivo-contenedor {
    border-top: 1px solid #1a1a1a; /* Una línea casi invisible para marcar el inicio */
    padding-top: 80px;
    margin-top: 20px;
}

/* Estilo para la frase en cursivas */
.puente {
    font-style: italic;
    text-align: center;
    color: #666; /* Un gris más oscuro para que se vea diferente al resto del texto */
    margin-bottom: 100px;
    font-size: 1.1em;
}

.fotodehadas {
    width: 15%;
    height: auto;
}

.fotodecueva {
    width: 25%;
    height: auto;
}

